@media (min-width: 320px) and (orientation: landscape) {
  body {
    display: flex;
  }

  .apresentacao,
  .arvore {
    width: 50%;
    height: 100%;
  }

  .apresentacao p {
    font-size: .9rem;
  }
}
@media (min-width: 480px) {
  .arvore {
    justify-content: start;
  }

  .apresentacao div {
    width: 12rem;
    height: 12rem;
  }
  .apresentacao h1 {
    font-size: 2.5rem;
  }

  .apresentacao p {
    font-size: 1.4rem;
  }

  .arvore .botao {
    width: 20rem;
    height: 6rem;
    font-size: 3.25rem;
  }
  .arvore ul li {
    width: 4rem;
    height: 4rem;
  }
}